{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Pagamentos</title>
{% endblock %}

{% block content %}
<main class="container-fluid py-4 mb-5">
    <!-- Header -->
    <div class="row align-items-center mb-4">
        <div class="col-md-12 col-12 mb-3 mb-md-0">
            <h4 class="mb-0 fw-bold">Pagamentos</h4>
            <a class="shadow-lg mt-2 text-decoration-none btn-modern" id="novoPagamentoBtn" title="Adicionar Novo Pagamento">
                <i class="bi bi-plus-circle me-2"></i>Novo Pagamento
            </a>
        </div>
    </div>

    <!-- Toolbar / Search Area -->
    <div class="m-3 border-bottom pb-3">
        <h5>Filtros</h5>

        <div class="row mb-4">
            <div class="col-md-2">
                <label class="form-label" for="data_inicio">Início do Plantão</label>
                <input type="date" id="data_inicio" class="form-control form-control-sm">
            </div>
            <div class="col-md-2">
                <label class="form-label" for="data_fim">Fim do Plantão</label>
                <input type="date" id="data_fim" class="form-control form-control-sm">
            </div>
        </div>

        <div class="row g-2 align-items-end mb-3">
            <div class="col-md-2">
                <label class="form-label" for="filter_type">Tipo</label>
                <select name="filter_type" id="filter_type" class="form-select form-select-sm">
                    <option selected value="codigo_interno">Código Interno - Pagamento</option>
                    <option value="status">Status - Pagamento</option>
                    <option value="plantao__codigo_interno">Código Interno - Plantão</option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="form-label">Valor</label>
                <input type="text" id="filter_value" class="form-control form-control-sm">
            </div>

            <div class="col-md-2 d-flex">
                <button class="text-decoration-none btn-modern" id="filter_btn">
                    <i class="bi bi-search"></i> Filtrar
                </button>
                <button class="text-decoration-none btn-modern ms-2" id="clear_filter_btn">
                    <i class="bi bi-x-circle"></i> Limpar
                </button>
            </div>
        </div>
    </div>

    <div id="table-pagamentos">
    </div>

    <div id="pagination"></div>
</main>
{% include 'partials/modal_pagamentos.html' %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/financeiro/pagamentos.js' %}"></script>
{% endblock %}