<div class="modal modal-lg fade" id="pagamentoModal" tabindex="-2" aria-labelledby="pagamentoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pagamentoModalLabel">Novo Pagamento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="pagamentoForm">
                    <input type="hidden" id="pagamento_id_modal_pagamentos">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="" class="label">Plantão</label>
                            <input type="hidden" id="plantao_id_modal_pagamentos">
                            <div class="col-md-12 d-flex">
                                <input id="plantao_codigo_modal_pagamentos" type="text" class="form-control form-control-sm" placeholder="Selecione o Plantão ->" readonly><button type="button" class="btn-modern btn-sm" id="abrirSearchPlantao"><i class="bi bi-search"></i></button>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="" class="label">Assistido</label>
                            <input type="hidden" id="assistido_id_modal_pagamentos">
                            <div class="col-md-12">
                                <input id="assistido_nome_modal_pagamentos" type="text" class="form-control form-control-sm" readonly>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="" class="label">Profissional</label>
                            <input type="hidden" id="profissional_id_modal_pagamentos">
                            <div class="col-md-12">
                                <input id="profissional_nome_modal_pagamentos" type="text" class="form-control form-control-sm" readonly>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="" class="label">Regra</label>
                            <div class="col-md-12">
                                <select id="regra_pagamento_id_modal_pagamentos" class="form-select form-select-sm">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="" class="label">Valor Calculado</label>
                            <div class="col-md-12">
                                <input id="valor_calculado_modal_pagamentos" type="text" class="form-control form-control-sm currency">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="" class="label">Status</label>
                            <div class="col-md-12">
                                <select id="status_modal_pagamentos" class="form-select form-select-sm">
                                    <option selected value="PENDENTE">Pendente</option>
                                    <option value="PAGO">Pago</option>
                                    <option value="CANCELADO">Cancelado</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="savePagamentoBtn" class="btn-modern"><i class="bi bi-floppy"></i>Salvar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal modal-xl fade" id="searchPlantaoModal" tabindex="-2" aria-labelledby="searchPlantaoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchPlantaoModalLabel">Buscar Plantão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-4">
                    <div class="col-md-4">
                        <label class="form-label" for="data_inicio_plantao">Início do Plantão</label>
                        <input type="date" id="data_inicio_plantao" class="form-control form-control-sm">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="data_fim_plantao">Fim do Plantão</label>
                        <input type="date" id="data_fim_plantao" class="form-control form-control-sm">
                    </div>
                </div>
                <div class="row g-2 align-items-end mb-3">
                    <div class="col-md-4">
                        <label class="form-label" for="filter_type_plantao">Tipo</label>
                        <select name="filter_type_plantao" id="filter_type_plantao" class="form-select form-select-sm">
                            <option selected value="codigo_interno">Código Interno (Plantão)</option>
                            <option value="profissional__nome">Nome (Profissional)</option>
                            <option value="profissional__cpf">CPF (Profissional)</option>
                            <option value="profissional__cnpj">CNPJ (Profissional)</option>
                            <option value="assistido__nome">Nome (Assistido)</option>
                            <option value="assistido__cpf">CPF (Assistido)</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Valor</label>
                        <input type="text" id="filter_value_plantao" class="form-control form-control-sm">
                    </div>

                    <div class="col-md-4 d-flex align-items-end">
                        <button class="text-decoration-none btn-modern" id="filter_btn_plantao">
                            <i class="bi bi-search"></i> Filtrar
                        </button>
                        <button class="text-decoration-none btn-modern ms-2" id="clear_filter_btn_plantao">
                            <i class="bi bi-x-circle"></i> Limpar
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div id="result_plantao"></div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>


<div class="modal modal-md fade" id="plantaoDetailsModal" tabindex="-1" aria-labelledby="plantaoDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="plantaoDetailsModalLabel">Detalhes do Plantão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="plantao-detail-modal"></div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>