<div class="modal modal-xl fade" id="relatorioModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-2" aria-labelledby="relatorioModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="relatorioModalLabel">Novo Relatório</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="relatorioForm">
                    <input type="hidden" id="relatorio_id_modal_relatorio" name="relatorio_id_modal_relatorio">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="" class="label">Cuidador(a)</label>
                            <input type="hidden" id="cuidadora_id_modal_relatorio" name="cuidadora_id_modal_relatorio">
                            <div class="col-md-12 d-flex">
                                <input id="cuidadora_nome_modal_relatorio" type="text" class="form-control form-control-sm" placeholder="Selecione um(a) Cuidador(a)" readonly="readonly">
                                <button type="button" class="btn-modern btn-sm" id="abrirSearchCuidadoraModal"><i class="bi bi-search"></i> Buscar</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="status_modal_relatorio" class="label">Status</label>
                            <select name="status_modal_relatorio" id="status_modal_relatorio" class="form-select form-select-sm">
                                <option value="ABERTO">Aberto</option>
                                <option value="FECHADO">Fechado</option>
                                <option value="PAGO">Pago</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="data_referencia_modal_relatorio" class="label">Data Referência</label>
                            <input type="date" name="data_referencia_modal_relatorio" id="data_referencia_modal_relatorio" class="form-control form-control-sm">
                        </div>
                        <div class="col-md-3">
                            <label for="deducoes_modal_relatorio" class="label">Deduções</label>
                            <input type="text" name="deducoes_modal_relatorio" id="deducoes_modal_relatorio" class="form-control form-control-sm currency text-danger">
                        </div>
                        <div class="col-md-3">
                            <label for="liquido_modal_relatorio" class="label">Líquido</label>
                            <input type="text" name="liquido_modal_relatorio" id="liquido_modal_relatorio" class="form-control form-control-sm currency text-success" readonly="readonly">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-header">
                <h5>Pagamentos do(a) Cuidador(a)</h5>
            </div>
            <div class="modal-body">
                <button class="btn-modern btn-sm" type="button" id="adicionarPagamentoBtnRelatorio"><i class="bi bi-plus"></i> Adicionar Pagamento</button>
                <div class="row mt-2">
                    <div id="pagamentos_list_relatorio"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="saveRelatorioBtn" class="btn-modern"><i class="bi bi-floppy"></i>Salvar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal modal-lg fade" id="searchCuidadoraModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-2" aria-labelledby="searchCuidadoraModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchCuidadoraModalLabel">Buscar Cuidador(a)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-target="#relatorioModal" data-bs-toggle="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row g-2 align-items-end mb-3">
                    <div class="col-md-4">
                        <label class="form-label" for="filter_type_cuidadora">Tipo</label>
                        <select name="filter_type_cuidadora" id="filter_type_cuidadora" class="form-select form-select-sm">
                            <option value="nome">Nome</option>
                            <option value="cpf">CPF</option>
                            <option value="cnpj">CNPJ</option>
                            <option value="telefone">Telefone</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Valor</label>
                        <input type="text" id="filter_value_cuidadora" class="form-control form-control-sm">
                    </div>

                    <div class="col-md-4 d-flex align-items-end">
                        <button class="text-decoration-none btn-modern" id="filter_btn_cuidadora">
                            <i class="bi bi-search"></i> Filtrar
                        </button>
                        <button class="text-decoration-none btn-modern ms-2" id="clear_filter_btn_cuidadora">
                            <i class="bi bi-x-circle"></i> Limpar
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div id="result_cuidadora"></div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>


<div class="modal modal-xl fade" id="searchPagamentoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-3" aria-labelledby="searchPagamentoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchPagamentoModalLabel">Pagamentos Pendentes do(a) Cuidador(a)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-target="#relatorioModal" data-bs-toggle="modal"></button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div id="pagamentos_list"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn-modern" type="button" id="btnAdicionarTodos"><i class="bi bi-plus"></i> Adicionar Todos</button>
            </div>
        </div>
    </div>
</div>


<div class="modal modal-xl fade" id="detalhesModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-2" aria-labelledby="detalhesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detalhesModalLabel"><span class="fs-5 fw-bolder" id="codigo_interno_detalhe_modal"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <label>Cuidador(a):</label>
                        <small id="cuidadora_nome_detalhe_modal" class="text-muted"></small>
                    </div>
                    <div class="col-md-4">
                        <label>Banco:</label>
                        <small id="cuidadora_codigo_banco_detalhe_modal" class="text-muted"></small>
                    </div>
                    <div class="col-md-4">
                        <label>Chave Pix:</label>
                        <small id="chave_pix_detalhe_modal" class="text-muted"></small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>CNPJ:</label>
                        <small id="cnpj_detalhe_modal" class="text-muted"></small>
                    </div>
                    <div class="col-md-4">
                        <label>Agência:</label>
                        <small id="cuidadora_agencia_conta_detalhe_modal" class="text-muted"></small>
                    </div>
                    <div class="col-md-4">
                        <label>Status:</label>
                        <small id="status_detalhe_modal" class="text-muted"></small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>CPF:</label>
                        <small id="cpf_detalhe_modal" class="text-muted"></small>
                    </div>

                    <div class="col-md-4">
                        <label>Conta:</label>
                        <small id="cuidadora_numero_conta_detalhe_modal" class="text-muted"></small>
                    </div>
                    <div class="col-md-4">
                        <label>Referência:</label>
                        <small id="data_referencia_detalhe_modal" class="text-muted"></small>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-2">
                        <h5 class="fw-bold">Pagamentos</h5>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-4 fw-bold text-center">Código Interno</div>
                    <div class="col-md-4 fw-bold text-center">Status</div>
                    <div class="col-md-4 fw-bold text-center">Valor</div>
                    <div class="col-md-12">
                        <div id="pagamentos_list_detalhe_modal"></div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="col-md-2">
                    <small for="valor_total_detalhe_modal">Valor Total</small>
                    <span id="valor_total_detalhe_modal" readonly="readonly"></span>
                </div>
                <div class="col-md-2">
                    <small for="deducoes_detalhe_modal">Deduções</small>
                    <span id="deducoes_detalhe_modal" class="text-danger" readonly="readonly"></span>
                </div>
                <div class="col-md-2">
                    <small for="liquido_detalhe_modal">Valor Líquido</small>
                    <span id="liquido_detalhe_modal" class="text-success" readonly="readonly"></span>
                </div>
                <div class="col-md-2">
                    <button class="btn-modern no-print" onclick="imprimirDetalhesModal()">
                        <i class="bi bi-printer"></i> Imprimir
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>