{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Plantoes</title>
{% endblock %}

{% block content %}
<main class="container mb-5">
    <div class="row align-items-center mb-4">
        <div class="col-md-12 col-12 mb-3 mb-md-0">
            <h4 class="mb-0 fw-bold">Plantões</h4>
        </div>
    </div>

    <!-- Tabs (nav) -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="andamento-tab" data-bs-toggle="tab" data-bs-target="#andamento" type="button">
            Andamento
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link text-success" id="finalizados-tab" data-bs-toggle="tab" data-bs-target="#finalizados" type="button">
            Finalizados
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link text-danger" id="expirados-tab" data-bs-toggle="tab" data-bs-target="#expirados" type="button">
            Expirados
            </button>
        </li>
    </ul>

    <!-- Conteúdo das tabs -->
    <div class="tab-content mt-3">
        <div class="tab-pane fade show active" id="andamento">
            <div class="row" id="plantoes-andamento">
            </div>
        </div>
        <div class="tab-pane fade" id="finalizados">
            <div class="row" id="plantoes-finalizados">
            </div>
        </div>
        <div class="tab-pane fade" id="expirados">
            <div class="row" id="plantoes-expirados">
            </div>
        </div>
    </div>


</main>

{% endblock %}
{% block scripts %}
<script src="{% static 'js/plantao/plantao.js' %}"></script>
{% endblock %}