{% extends "base.html" %}
{% block head %}
<title>Execução de Plantão</title>
{% endblock %}

{% block content %}
{% now "Y-m-d" as hoje %}
<div class="container py-4 mb-5">
    <div class="card shadow-sm border-0 rounded-4">
        <div class="card-body">
            <a href="{% url 'plantoes' %}" class="btn-modern mb-4 text-decoration-none"><i class="bi bi-arrow-left-circle"></i> Voltar para lista de plantões</a>

            <h4 class="mb-3">Registros do Plantão</h4>

            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <div class="row g-2">
                        <div class="col-6">
                            <small class="text-muted">Paciente</small>
                            <div class="fw-semibold">{{ plantao.paciente.nome }}</div>
                        </div>

                        <div class="col-6">
                            <small class="text-muted">Cuidadora</small>
                            <div class="fw-semibold">{{ plantao.cuidadora.nome }}</div>
                        </div>

                        <div class="col-6">
                            <small class="text-muted">Início</small>
                            <div>{{ plantao.inicio|date:"d/m/Y H:i" }}</div>
                        </div>

                        <div class="col-6">
                            <small class="text-muted">Fim</small>
                            <div>{{ plantao.fim|date:"d/m/Y H:i" }}</div>
                        </div>

                        <div class="col-6">
                            <small class="text-muted">Carga Horária</small>
                            <div>{{ plantao.horas }}h</div>
                        </div>

                        <div class="col-6">
                            <small class="text-muted">Cumpridas</small>
                            <div>{{ plantao.horas_cumpridas_formatadas }}h</div>
                        </div>

                    </div>

                </div>
            </div>

            <hr>

            <div class="d-flex gap-2">

                {% if plantao.status != 'F' and plantao.status != 'E' %}
                    {% if plantao.inicio|date:"Y-m-d" == hoje %}
                        <button id="btnCheckin" 
                            class="btn btn-modern bg-success-subtle flex-fill" {% if iniciado %}disabled{% endif %}
                            onclick="registrarEvento('I')">
                            Iniciar Plantão
                        </button>
                    {% endif %}

                    {% if plantao.fim|date:"Y-m-d" == hoje %}
                        <!-- prettier-ignore -->
                        <button id="btnCheckout" class="btn btn-modern bg-danger-subtle flex-fill" 
                            {% if not iniciado or finalizado %} disabled {% endif %} onclick="registrarEvento('F')">
                            Finalizar Plantão
                        </button>
                    {% endif %}
                {% endif %}

            </div>

            <div class="mt-4">
                <h6>Eventos registrados</h6>

                <ul class="list-group mt-2">
                    {% for e in eventos %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">

                        <span>
                            {% if e.tipo == 'I' %}
                                <span class="d-inline-flex align-items-center gap-2">
                                <span class="bg-success rounded-circle p-2 btn-modern btn-sm" style="width:10px; height:10px;"></span>
                                    Início
                                </span>
                            {% else %}
                                <span class="d-inline-flex align-items-center gap-2">
                                <span class="bg-danger rounded-circle p-2 btn-modern btn-sm" style="width:10px; height:10px;"></span>
                                    Fim
                                </span>
                            {% endif %}
                        </span>

                        <div class="d-flex align-items-center gap-3">

                            <small class="text-muted">
                                {{ e.data_hora|date:"d/m/Y H:i" }}
                            </small>

                            <!-- Ícone Google Maps -->
                            <a href="https://www.google.com/maps?q={{ e.endereco|urlencode }}" 
                                target="_blank"
                                class="text-decoration-none btn-modern btn-sm"
                                title="Ver localização">
                                <i class="bi bi-geo-alt-fill text-primary"></i>
                            </a>

                        </div>

                    </li>
                    {% empty %}
                    <li class="list-group-item text-muted">
                        Nenhum evento registrado
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>

</div>

<script>
    async function getAddress(lat, lng) {
        try {
            const res = await fetch(`https://nominatim.openstreetmap.org/reverse?lat=${lat}&lon=${lng}&format=json`)
            const data = await res.json()
            return data.display_name || null
        } catch {
            return null
        }
    }

    async function getLocation() {
        return new Promise((resolve, reject) => {

            navigator.geolocation.getCurrentPosition(
                (pos) => {
                    const { latitude, longitude, accuracy } = pos.coords

                    console.log("GPS:", latitude, longitude, "accuracy:", accuracy)

                    resolve({
                        lat: latitude,
                        lng: longitude,
                        accuracy: accuracy
                    })
                },
                (err) => reject(err),
                {
                    enableHighAccuracy: true,
                    timeout: 20000,
                    maximumAge: 0
                }
            )
        })
    }


    async function registrarEvento(tipo) {
        try {
            const pos = await getLocation()

            const endereco = await getAddress(pos.lat, pos.lng)

            const response = await fetch(`/api/registro/{{ plantao.id }}/registrar_evento/`, {
                method: "POST",
                credentials: "include",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCSRFToken()
                },
                body: JSON.stringify({
                    tipo: tipo,
                    lat: pos.lat,
                    lng: pos.lng,
                    accuracy: pos.accuracy,
                    endereco: endereco
                })
            })

            const data = await response.json()

            if (!response.ok) {
                alert(data.error || "Erro ao registrar")
                return
            }

            location.reload()

        } catch (e) {
            console.log(e)
            alert("Erro ao obter localização")
        }
    }
    function getCSRFToken() {
        return document.cookie.split('; ')
            .find(row => row.startsWith('csrftoken'))
            ?.split('=')[1];
    }
</script>

{% endblock %}