{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Usuários</title>
{% endblock %}

{% block content %}
<main class="container-fluid py-4 mb-5">
    <div class="row align-items-center mb-4">
        <div class="col-md-12 col-12 mb-3 mb-md-0">
            <h4 class="mb-0 fw-bold">Usuários</h4>
            <a class="shadow-lg mt-2 text-decoration-none btn-modern" id="novoUsuarioBtn" title="Adicionar Novo Usuário">
                <i class="bi bi-plus-circle me-2"></i>Novo Usuário
            </a>
        </div>
    </div>


    <!-- Toolbar / Search Area -->
    <div class="m-3 border-bottom pb-3">
        <h5>Filtros</h5>

        <div class="row g-2 align-items-end mb-5">
            <div class="col-md-2">
                <label class="form-label">Tipo</label>
                <select name="filter_type" id="filter_type" class="form-select form-select-sm">
                    <option selected value="">Selecione um filtro</option>
                    <option value="username">Usuário</option>
                    <option value="cuidadora__nome">Nome</option>
                    <option value="cuidadora__cpf">CPF</option>
                    <option value="cuidadora__telefone">Telefone</option>
                </select>
            </div>

            <div class="col-md-2">
                <label class="form-label">Valor</label>
                <input type="text" id="filter_value" class="form-control form-control-sm">
            </div>

            <div class="col-md-2 d-flex">
                <button class="text-decoration-none btn-modern" id="filter_btn">
                    <i class="bi bi-search"></i> Filtrar
                </button>
                <button class="text-decoration-none btn-modern ms-2" id="clear_filter_btn">
                    <i class="bi bi-x-circle"></i> Limpar
                </button>
            </div>
        </div>
    </div>

    <!-- Tabela de Usuários -->
    <table class="table table-hover table-striped table-sm text-center">
        <thead>
            <tr>
                <th>Usuário</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Ativo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="table-usuarios">
        </tbody>
    </table>

    <div id="pagination"></div>
</main>

{% include 'partials/accounts_modal.html' %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/usuarios/usuarios.js' %}"></script>
{% endblock %}