{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Cuidadoras</title>
{% endblock %}

{% block content %}
<main class="container-fluid py-4">
    <!-- Header -->
    <div class="row align-items-center mb-4">
        <div class="col-md-12 col-12 mb-3 mb-md-0">
            <h4 class="mb-0 fw-bold">Cuidadoras</h4>
            <a class="shadow-lg mt-2 text-decoration-none btn-modern" id="novaCuidadoraBtn"
                title="Adicionar Nova Cuidadora">
                <i class="bi bi-plus-circle me-2"></i>Nova Cuidadora
            </a>
        </div>
    </div>

    <!-- Toolbar / Search Area -->
    <div class="m-3 border-bottom pb-3">
        <h5>Filtros</h5>

        <div class="row g-2 align-items-end mb-5">
            <div class="col-md-2">
                <label class="form-label">Tipo</label>
                <select name="filter_type" id="filter_type" class="form-select form-select-sm">
                    <option value="">Selecione um filtro</option>
                    <option value="cpf">CPF</option>
                    <option value="cnpj">CNPJ</option>
                    <option value="nome">Nome</option>
                    <option value="telefone">Telefone</option>
                </select>
            </div>

            <div class="col-md-2">
                <label class="form-label">Valor</label>
                <input type="text" id="filter_value" class="form-control form-control-sm">
            </div>

            <div class="col-md-2 d-flex">
                <a class="text-decoration-none btn-modern">
                    <i class="bi bi-search"></i> Filtrar
                </a>
            </div>
        </div>
    </div>

    <!-- Tabela de Cuidadoras -->

    <div id="table-cuidadoras" class="row ms-2">
    </div>

    <div id="pagination"></div>
</main>

{% include 'partials/cuidadoras_modal.html' %}

<script src="{% static 'js/cuidadoras/cuidadoras.js' %}"></script>
{% endblock %}