{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Pacientes</title>
{% endblock %}

{% block content %}
<main class="container-fluid py-4  ms-2 mb-5">
    <!-- Header -->
    <div class="row align-items-center mb-4">
        <div class="col-md-12 col-12 mb-3 mb-md-0">
            <h4 class="mb-0 fw-bold">Pacientes</h4>
            <a class="shadow-lg mt-2 text-decoration-none btn-modern" id="novoPacienteBtn"
                title="Adicionar Novo Paciente">
                <i class="bi bi-plus-circle me-2"></i>Novo Paciente
            </a>
        </div>
    </div>

    <!-- Toolbar / Search Area -->
    <div class="m-3 border-bottom pb-3">
        <h5>Filtros</h5>

        <div class="row g-2 align-items-end mb-5">
            <div class="col-md-2">
                <label class="form-label">Tipo</label>
                <select name="filter_type" id="filter_type" class="form-select form-select-sm">
                    <option value="">Selecione um filtro</option>
                    <option value="nome">Nome</option>
                </select>
            </div>

            <div class="col-md-2">
                <label class="form-label">Valor</label>
                <input type="text" id="filter_value" class="form-control form-control-sm">
            </div>

            <div class="col-md-2 d-flex">
                <button class="text-decoration-none btn-modern" id="filter_btn">
                    <i class="bi bi-search"></i> Filtrar
                </button>
                <button class="text-decoration-none btn-modern ms-2" id="clear_filter_btn">
                    <i class="bi bi-x-circle"></i> Limpar
                </button>
            </div>
        </div>
    </div>

    <!-- Tabela de Pacientes -->
    <div class="row ms-2" id="table-pacientes">
    </div>
    <div id="pagination"></div>
</main>

{% include 'partials/paciente_modals.html' %}
{% include 'partials/responsavel_modals.html' %}

<script src="{% static 'js/pacientes/pacientes.js' %}"></script>
{% endblock %}