{% load static %}

<aside id="sidebar" class="sidebar">

  <div class="sidebar-header">
    <span class="logo-text">Nav Link</span>
    <button id="toggleSidebar" class="toggle-btn">
      <i class="bi bi-list"></i>
    </button>
  </div>

  <ul class="sidebar-menu">
    <!-- PLANTOES -->
    <li class="menu-item">
      <a href="{% url 'plantoes' %}">
        <i class="bi bi-calendar2-check"></i>
        <span class="menu-label">Plantões</span>
      </a>
    </li>

    {% if user.is_staff %}
    <!-- ADMIN -->
    <li class="menu-item has-submenu">
      <a href="#">
        <i class="bi bi-gear"></i>
        <span class="menu-label">Administração</span>
        <i class="bi bi-chevron-down arrow"></i>
      </a>
      <ul class="submenu">
        <li><a href="{% url 'usuarios' %}"><i class="bi bi-people"></i> Usuários</a></li>
      </ul>
      <ul class="submenu">
        <li><a href="{% url 'cuidadoras' %}"><i class="bi bi-person-vcard"></i> Cuidadoras</a></li>
      </ul>
      <ul class="submenu">
        <li><a href="{% url 'pacientes' %}"><i class="bi bi-person"></i> Pacientes</a></li>
      </ul>
      <ul class="submenu">
        <li><a href="{% url 'escalas' %}"><i class="bi-calendar-week"></i> Escalas</a></li>
      </ul>
    </li>
    {% endif %}
  </ul>

  <div class="sidebar-footer">
  </div>

</aside>